<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Главная страница</title>
</head>
<body>
    <h1>Главная страница</h1>
    <h2>Ссылки на страницы авторизации:</h2>
    <ul>
        <li><a href="/auth/signup_form">Регистрация</a></li>
        <li><a href="/auth/login_form">Вход</a></li>
        <li><a href="/auth/protected_web">Защищённая страница</a></li>
    </ul>

    <h2>Ссылки на страницы транзакций:</h2>
    <ul>
        <li><a href="http://localhost:5001/transaction/login">Вход в транзакции</a></li>
        <li><a href="http://localhost:5001/send">Отправить транзакцию</a></li>
    </ul>
</body>
</html>
